* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearFix:after {
  content: '';
  display: block;
  overflow: hidden;
  zoom: 1;
}
body {
  background: #f2f2f2;
}
/*弹窗*/
#full {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
}
#full img {
  position: absolute;
  top: 3.63636364rem;
}
/*返回顶部*/
#onTop {
  display: none;
  background: url(../img/top.png) #5b6167 no-repeat center center;
  background-size: 50% 50%;
  border-radius: 50%;
  width: 1.45454545rem;
  height: 1.45454545rem;
  position: fixed;
  right: 0.50909091rem;
  bottom: 2.72727273rem;
  z-index: 1000;
}
/*顶部*/
#top {
  width: 100%;
  height: 1.63636364rem;
  background: #fabc09;
  position: fixed;
  top: 0;
  z-index: 1000;
}
#top .top-icon {
  float: left;
  width: 1.81818182rem;
  height: 100%;
}
#top .top-icon a {
  width: 100%;
  height: 100%;
  display: block;
  color: #333333;
  text-align: center;
}
#top .top-icon a i {
  display: block;
  font-size: 0.65454545rem;
  padding-top: 0.18181818rem;
}
#top .top-icon a span {
  display: block;
  font-size: 0.32727273rem;
}
#top .search {
  position: relative;
  float: left;
  margin-top: 0.29090909rem;
  width: 10.36363636rem;
  height: 1.12727273rem;
  border-radius: 0.12727273rem;
  background: #fef1ce;
}
#top .search form i {
  font-size: 0.58181818rem;
  position: absolute;
  top: 0.25454545rem;
  left: 0.36363636rem;
  color: #9e9e9c;
}
#top .search form input {
  position: absolute;
  top: 0.29090909rem;
  left: 1.09090909rem;
  background: none;
  outline: none;
  border: none;
  width: 8.90909091rem;
  height: 0.58181818rem;
  color: #9e9e9c;
}
/*banner*/
#mini .banner {
  margin-top: 1.63636364rem;
  width: 100%;
  height: 5.81818182rem;
  overflow: hidden;
  position: relative;
}
#mini .banner ul {
  width: 700%;
  height: 100%;
}
#mini .banner ul li {
  width: 14rem;
  height: 100%;
  float: left;
}
#mini .banner div {
  position: absolute;
  bottom: 0.18181818rem;
  right: 0.18181818rem;
}
#mini section div.swiper-pagination-bullets span {
  display: block;
  float: left;
  margin: 0.18181818rem;
  width: 0.21818182rem;
  height: 0.21818182rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}
#mini section div.swiper-pagination-bullets span.swiper-pagination-bullet-active {
  background: #ffc001;
}
/*#mini section div.bantab span{display: block;float:left;margin:10/@rem;width:12/@rem;height:12/@rem;border-radius:50%;background: rgba(255,255,255,.8);}
#mini section div.bantab span.on{background:#ffc001;}*/
/*导航*/
#mini .nav {
  padding: 0.36363636rem 0;
  margin-bottom: 1px;
  background: #FFFFFF;
}
#mini .nav ul {
  display: flex;
}
#mini .nav ul li {
  padding: 0.21818182rem 0;
  flex: auto;
  width: 20%;
}
#mini .nav ul li a {
  display: block;
  text-align: center;
}
#mini .nav ul li a img {
  width: 1.45454545rem;
  height: 1.45454545rem;
}
#mini .nav ul li a span {
  display: block;
  font-size: 0.4rem;
  color: #7b7f82;
}
/*通知*/
#mini .not {
  height: 1.12727273rem;
  margin-bottom: 0.43636364rem;
  padding: 0.41818182rem 0;
  background: #FFFFFF;
  position: relative;
}
#mini .not div {
  width: 3.09090909rem;
  height: 1.16363636rem;
  border-right: 1px solid #dcdcdc;
}
#mini .not div img {
  width: 2.63636364rem;
  height: 1.16363636rem;
}
#mini .not article {
  width: 10.85454545rem;
  height: 1.09090909rem;
  overflow: hidden;
  position: absolute;
  top: 0.47272727rem;
  right: 0;
}
#mini .not article ul li {
  padding: 0 0.8rem;
}
#mini .not article ul li a {
  display: block;
  font-size: 0.43636364rem;
  line-height: 0.58181818rem;
}
#mini .not article ul li a span {
  display: block;
  position: relative;
  padding-left: 0.4rem;
}
#mini .not article ul li a span i {
  display: block;
  position: absolute;
  top: 0.18181818rem;
  left: 0;
  width: 0.14545455rem;
  height: 0.14545455rem;
  border-radius: 50%;
  background: #ffc001;
  margin-right: 0.27272727rem;
}
#mini .not article ul li a span:nth-child(odd) {
  color: #000000;
}
#mini .not article ul li a span:nth-child(even) {
  color: #999999;
}
/*抢购*/
#mini .buy {
  background: #FFFFFF;
  margin-bottom: 0.43636364rem;
}
#mini .buy .col {
  height: 1.49090909rem;
}
#mini .buy .col img {
  width: 2.54545455rem;
  height: 0.87272727rem;
  padding: 0.32727273rem 0.36363636rem;
  float: left;
}
#mini .buy .col .sev {
  font-size: 0.38181818rem;
  color: #fa4b4b;
  float: left;
  padding-top: 0.65454545rem;
}
#mini .buy .col .cou {
  font-size: 0.29090909rem;
  float: left;
  padding-top: 0.61818182rem;
  padding-left: 0.21818182rem;
}
#mini .buy .col .cou span {
  padding: 0.05454545rem;
  border: 1px solid #000000;
  border-radius: 0.09090909rem;
}
#mini .buy .col .cou span:last-child {
  color: #fa4b4b;
  border-color: #fa4b4b;
}
#mini .buy .col .more {
  display: block;
  width: 3.27272727rem;
  margin-top: 0.4rem;
  margin-right: 0.36363636rem;
  float: right;
  position: relative;
}
#mini .buy .col .more span {
  padding: 0.12727273rem 0.25454545rem;
  background: #ffc001;
  font-size: 0.4rem;
  color: #783e18;
  border-radius: 0.21818182rem;
  float: left;
}
#mini .buy .col .more i {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0.65454545rem;
  position: absolute;
  top: 0.07272727rem;
  right: 0rem;
}
#mini .buy .con {
  width: 14rem;
  height: 4.83636364rem;
  background: #FFF;
  overflow: hidden;
}
#mini .buy .con ul {
  width: 51.81818182rem;
  padding: 0 0.18181818rem 0.43636364rem;
  display: flex;
}
#mini .buy .con ul li {
  display: block;
  width: 4.07272727rem;
  height: 4.36363636rem;
  background: #ddd;
  margin: 0 0.09090909rem;
}
#mini .buy .con ul li a {
  display: block;
  width: 100%;
}
#mini .buy .con ul li a .img {
  width: 100%;
  height: 3.05454545rem;
}
#mini .buy .con ul li a .img img {
  background: url('../img/buy/sn.png') #ffffff no-repeat center center;
}
#mini .buy .con ul li a .text {
  position: relative;
  width: 100%;
  height: 1.30909091rem;
}
#mini .buy .con ul li a .text span {
  padding-left: 0.4rem;
  display: block;
  font-size: 0.4rem;
  line-height: 0.65454545rem;
  font-family: "微软雅黑";
}
#mini .buy .con ul li a .text span.off {
  color: #dd0000;
}
#mini .buy .con ul li a .text span.ori {
  color: #999999;
  text-decoration: line-through;
}
#mini .buy .con ul li a .text span.dis {
  position: absolute;
  top: 0.27272727rem;
  right: 0.21818182rem;
  color: #FFF;
  line-height: 0.32727273rem;
}
#mini .buy .con ul li a .text span.dis i {
  font-size: 0.47272727rem;
  font-style: normal;
}
#mini .buy .con ul li a .text .offerbg {
  position: absolute;
  top: -0.10909091rem;
  right: 0.07272727rem;
  display: block;
  width: 1.30909091rem;
  height: 1.38181818rem;
  background: url('../img/buy/offer.png') no-repeat;
  background-size: 100% 100%;
}
/*超实惠*/
#mini .aff article a {
  display: block;
}
#mini .aff .row1 {
  height: 5.38181818rem;
}
#mini .aff .row1 a {
  width: 6.98181818rem;
  float: left;
}
#mini .aff .row1 a:nth-child(1) {
  height: 100%;
}
#mini .aff .row1 a:nth-child(2) {
  height: 2.67272727rem;
}
#mini .aff .row1 a:nth-child(3) {
  height: 2.67272727rem;
}
#mini .aff .row1 a img {
  width: 100%;
  height: 100%;
}
#mini .aff .row2 {
  height: 2.69090909rem;
  display: flex;
}
#mini .aff .row2 a {
  width: 6.98181818rem;
  height: 2.67272727rem;
}
/*生活家*/
#mini .life article a {
  display: block;
}
#mini .life .row1 {
  height: 5.38181818rem;
}
#mini .life .row1 a {
  width: 6.98181818rem;
  float: left;
}
#mini .life .row1 a:nth-child(1) {
  height: 100%;
}
#mini .life .row1 a:nth-child(2) {
  height: 2.67272727rem;
}
#mini .life .row1 a:nth-child(3) {
  height: 2.67272727rem;
}
#mini .life .row1 a img {
  width: 100%;
  height: 100%;
}
#mini .life .row2 {
  height: 5.58181818rem;
  display: flex;
}
#mini .life .row2 a {
  height: 100%;
  flex: auto;
}
/*栏目banner*/
#mini .lmbanner {
  height: 3.74545455rem;
  overflow: hidden;
  position: relative;
}
#mini .lmbanner ul {
  width: 500%;
  height: 100%;
}
#mini .lmbanner ul li {
  width: 14rem;
  height: 100%;
  float: left;
}
#mini .lmbanner ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
#mini .lmbanner div {
  position: absolute;
  top: 0.32727273rem;
  right: 0.32727273rem;
}
/*特色好货*/
#mini .too article a {
  display: block;
}
#mini .too .row1 {
  height: 5.56363636rem;
  display: flex;
}
#mini .too .row1 a {
  width: 6.98181818rem;
}
#mini .too .row1 a:nth-child(1) {
  height: 100%;
}
#mini .too .row2 {
  height: 2.67272727rem;
  display: flex;
}
#mini .too .row2 a {
  height: 100%;
  flex: auto;
}
#mini .too .row3 {
  height: 2.67272727rem;
  display: flex;
}
#mini .too .row3 a {
  height: 100%;
  flex: auto;
}
/*热门市场*/
#mini .pop article a {
  display: block;
}
#mini .pop .row1 {
  height: 5.56363636rem;
  display: flex;
}
#mini .pop .row1 a {
  width: 6.98181818rem;
  height: 100%;
}
#mini .pop .row1 a img {
  width: 100%;
  height: 100%;
}
#mini .pop .row2 {
  display: flex;
  flex-flow: row wrap;
}
#mini .pop .row2 a {
  width: 4.58181818rem;
  height: 4.47272727rem;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  flex: auto;
}
#mini .pop .row2 a:nth-child(3n+0) {
  border-right: 0;
}
/*苏宁金融*/
#mini .fin article a {
  display: block;
}
#mini .fin .row1 {
  height: 5.38181818rem;
  border-bottom: 0.03636364rem solid #f2f2f2;
}
#mini .fin .row1 a {
  width: 6.98181818rem;
  float: left;
}
#mini .fin .row1 a:nth-child(1) {
  height: 100%;
}
#mini .fin .row1 a:nth-child(2),
#mini .fin .row1 a:nth-child(3) {
  height: 2.67272727rem;
}
#mini .fin .row1 a img {
  width: 100%;
  height: 100%;
}
/*好店推荐*/
#mini .rec article {
  height: 7.8rem;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
#mini .rec article ul {
  padding: 0.27272727rem;
  width: 300%;
}
#mini .rec article ul li {
  width: 14rem;
  height: 6.36363636rem;
  display: flex;
  float: left;
}
#mini .rec article ul li a {
  display: block;
  width: 6.43636364rem;
  height: 100%;
  margin: 0.14545455rem;
}
#mini .rec article ul li a div.title {
  height: 1.49090909rem;
  display: flex;
  margin-bottom: 0.47272727rem;
}
#mini .rec article ul li a div.title img {
  width: 1.49090909rem;
  height: 1.49090909rem;
  margin-right: 0.4rem;
}
#mini .rec article ul li a div.title .text span {
  display: block;
  line-height: 0.69090909rem;
}
#mini .rec article ul li a div.title .text span:nth-child(1) {
  font-size: 0.50909091rem;
  color: #000;
}
#mini .rec article ul li a div.title .text span:nth-child(2) {
  font-size: 0.4rem;
  color: #999;
}
#mini .rec article ul li a div.imges {
  height: 4.25454545rem;
  display: flex;
}
#mini .rec article ul li a div.imges img {
  display: block;
  width: 4.18181818rem;
  height: 4.18181818rem;
  border: 1px solid #dddddd;
}
#mini .rec article ul li a div.imges .right {
  width: 2.14545455rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
#mini .rec article ul li a div.imges .right img {
  width: 2.07272727rem;
  height: 2rem;
}
#mini .rec article .tab {
  width: 1.74545455rem;
  position: absolute;
  bottom: 0.29090909rem;
  left: 50%;
  margin-left: -0.87272727rem;
}
#mini .rec article .tab span {
  display: block;
  float: left;
  margin: 0.18181818rem;
  width: 0.21818182rem;
  height: 0.21818182rem;
  border-radius: 50%;
  background: #dddddd;
}
#mini .rec article .tab span.on {
  background: #ffc001;
}
/*猜你喜欢*/
#mini .all header {
  padding-bottom: 0.43636364rem;
}
#mini .all header article {
  height: 0.65454545rem;
  position: relative;
  margin: 0.43636364rem 0;
}
#mini .all header article p {
  width: 13.2rem;
  height: 0.03636364rem;
  background: #dcdcdc;
  position: absolute;
  top: 0.34545455rem;
  margin: 0 0.4rem;
}
#mini .all header article div {
  width: 3.96363636rem;
  height: 0.65454545rem;
  background: #f2f2f2;
  font-size: 0.58181818rem;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -1.98181818rem;
}
#mini .all header article div i {
  vertical-align: middle;
  display: inline-block;
  width: 0.65454545rem;
  height: 0.65454545rem;
  font-size: 0.43636364rem;
  color: #FFF;
  background: #ffc001;
  border-radius: 50%;
  text-align: center;
}
#mini .all header article div span {
  vertical-align: middle;
  padding-left: 0.09090909rem;
}
#mini .all header a {
  display: block;
  font-size: 0.47272727rem;
  text-align: center;
  color: #ffaa00;
}
#mini .all .com ul {
  display: flex;
  justify-content: space-around;
  padding: 0 0.2rem;
  flex-flow: row wrap;
}
#mini .all .com ul li {
  width: 6.4rem;
  height: 9.23636364rem;
  background: #FFF;
  margin-bottom: 0.36363636rem;
  position: relative;
}
#mini .all .com ul li a.img {
  display: block;
}
#mini .all .com ul li a.img img {
  display: block;
  width: 100%;
  height: 6.43636364rem;
}
#mini .all .com ul li .text {
  height: 2.36363636rem;
  padding: 0.21818182rem;
}
#mini .all .com ul li .text p {
  height: 1.45454545rem;
  font-size: 0.47272727rem;
  line-height: 0.72727273rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
#mini .all .com ul li .text span.price {
  display: block;
  font-size: 0.50909091rem;
  color: #e21d1d;
  font-family: "微软雅黑";
  font-weight: 400;
  padding: 0.12727273rem 0;
}
#mini .all .com ul li a.sim {
  position: absolute;
  bottom: 0.18181818rem;
  right: 0.25454545rem;
  width: 2.36363636rem;
  height: 0.83636364rem;
  text-align: center;
  line-height: 0.83636364rem;
  display: block;
  font-size: 0.47272727rem;
  color: #ffc001;
  border: 0.03636364rem solid #ffc001;
  border-radius: 0.14545455rem;
}
/*APP*/
#mini .app {
  height: 2.8rem;
  padding-bottom: 0.43636364rem;
}
#mini .app a {
  display: block;
}
/*版权*/
#mini .copy {
  background: #FFF;
}
#mini .copy nav {
  height: 1.74545455rem;
}
#mini .copy nav ul {
  display: flex;
  flex: auto;
}
#mini .copy nav ul li {
  width: 2.76363636rem;
  font-size: 0.47272727rem;
  line-height: 1.74545455rem;
  text-align: center;
  position: relative;
}
#mini .copy nav ul li a {
  display: block;
  color: #000;
  width: 100%;
  height: 100%;
}
#mini .copy nav ul li a:after {
  content: "";
  background: #dddddd;
  display: block;
  width: 0.03636364rem;
  height: 0.50909091rem;
  position: absolute;
  top: 0.65454545rem;
}
#mini .copy p {
  font-size: 0.4rem;
  color: #9e9e9e;
  text-align: center;
  padding-bottom: 2.90909091rem;
}
/*bar*/
#bar {
  height: 1.85454545rem;
  background: #FFF;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
#bar ul {
  width: 100%;
  height: 100%;
  display: flex;
}
#bar ul li {
  width: 2.8rem;
  height: 100%;
  text-align: center;
}
#bar ul li i {
  font-size: 0.90909091rem;
  display: block;
  padding-top: 0.09090909rem;
  padding-bottom: 0.05454545rem;
}
#bar ul li span {
  font-size: 0.4rem;
  display: block;
}
#bar ul li.on i,
#bar ul li.on span {
  color: #ffaa00;
}
