/*边框*/
.Tline,
.Rline,
.Bline,
.line {
  position: relative;
}
.Tline:after {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  /*-webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);*/
  border-top: 1px solid #F2F2F2;
  z-index: 100;
}
.Bline:after {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  /*-webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);*/
  border-bottom: 1px solid #F2F2F2;
  z-index: 100;
}
.Lline:after {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 1px;
  height: 100%;
  /*-webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);*/
  border-left: 1px solid #F2F2F2;
  z-index: 100;
}
.Rline:after {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 1px;
  height: 100%;
  /*-webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);*/
  border-right: 1px solid #F2F2F2;
  z-index: 100;
}
.line:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /*-webkit-transform: scale(0.5);
    transform: scale(0.5);*/
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
#mini .lm {
  margin-bottom: 0.43636364rem;
}
#mini .lm header {
  width: 100%;
  height: 1.12727273rem;
  position: relative;
}
#mini .lm header:after {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  /*-webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);*/
  border-top: 1px solid #F2F2F2;
  z-index: 100;
}
